[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clime"]
	path = clime
	url = https://github.com/rluo/clime
[submodule "cord"]
	path = cord
	url = https://github.com/cran/cord
[submodule "lorec"]
	path = lorec
	url = https://github.com/cran/lorec
[submodule "pro"]
	path = pro
	url = https://github.com/rluo/pro
